body {
  margin: 0;
  padding: 0;
  background: red;
}

video{
  position: absolute;
  width: 335px;
  margin: 10px;
}

#style-8::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px purple;
  border: 1.5px solid blue;
  background-color: yellow;
}

#style-8::-webkit-scrollbar {
  width: 15px;
  background-color: red;
  border-radius: 10px;
}

#style-8::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px yellow;
  background-color: red;
  border: 2px solid blue;
}

#style-8::-webkit-scrollbar-corner {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px red;
  background-color: blue;
  border: 2px solid yellow;
